.blog-container {
  background: #f3f4f6;
  min-height: 100vh;
  padding: 20px;
  
}

.blog-wrapper {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 50px;
}

.back-btn {
  background: #6b7280;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.blog-img {
  width: 100%;
  border-radius: 10px;
}

.blog-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-meta {
  color: gray;
  margin-bottom: 5px;
}

.blog-content {
  margin-top: 20px;
  color: #374151;
}

.action-btns {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.edit-btn {
  background: #3b82f6;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
}

.delete-btn {
  background: #ef4444;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
}