.edit-container {
  background-color: #f5f6fa;
  min-height: 100vh;
  padding: 40px 20px;
}


.edit-card {
  max-width: 600px;
  margin: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  padding: 20px;
  margin-top: 50px;
}

.edit-title {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}


.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-textarea {
  resize: none;
}

.image-link {
  display: block;
  margin-bottom: 5px;
  color: blue;
  font-size: 14px;
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #2563eb;
}

.btn-secondary {
  background-color: gray;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #555;
}